Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

dependency bump
  package-lock.json
  package.json
Due: prettier

feat: enhance security and performance by implementing timing-safe CSRF validation, URL validation for Reddit API calls, and adding constants for comment depth
  .github/instructions/code-standards.instructions.md
  app/api/auth/callback/reddit/route.ts
  components/ui/Comment/Comment.tsx
  lib/actions/reddit.ts
  lib/utils/constants.ts
Due: eslint, prettier

dependency bump
  package-lock.json
Due: prettier

feat: implement add/remove user to multireddit functionality with UI component
  app/(main)/u/[username]/page.tsx
  components/ui/AddUserToMultiredditButton/AddUserToMultiredditButton.test.tsx
  components/ui/AddUserToMultiredditButton/AddUserToMultiredditButton.tsx
  lib/actions/reddit.test.ts
  lib/actions/reddit.ts
  lib/hooks/useMultiredditManager.test.ts
  lib/hooks/useMultiredditManager.ts
Due: eslint, prettier

fix: update action button variants and disable state for authentication and pending status
  components/ui/Comment/Comment.tsx
  components/ui/PostActions/PostActions.tsx
Due: eslint, prettier

feat: implement optimistic updates using useOptimistic in hooks and documentation
  .github/copilot-instructions.md
  .github/instructions/code-review.instructions.md
  .github/instructions/code-standards.instructions.md
  .nvmrc
  lib/hooks/useFollowUser.ts
  lib/hooks/useSavePost.ts
  lib/hooks/useSubscribe.ts
  lib/hooks/useVote.ts
Due: eslint, prettier

feat: add theme toggle functionality to Header component
  components/layout/Header/Header.test.tsx
  components/layout/Header/Header.tsx
Due: eslint, prettier

feat: enhance useMultiredditManager with optimistic updates and improve README
  README.md
  lib/hooks/useMultiredditManager.test.ts
  lib/hooks/useMultiredditManager.ts
  scripts/generate-openapi.ts
  scripts/reddit-openapi.json
Due: eslint, prettier

refactor: replace regex with replaceAll for path normalization and optimize state updates in multireddit manager
  app/api/auth/callback/reddit/route.ts
  lib/actions/reddit.ts
  lib/hooks/useMultiredditManager.ts
  lib/hooks/useSubredditManager.ts
  lib/hooks/useVote.ts
Due: eslint, prettier

feat: add sun and moon icon visibility control based on color scheme in Header component
  components/layout/Header/Header.module.css
  components/layout/Header/Header.tsx
Due: eslint, prettier

feat: add oembed video rendering support and validation in PostMedia component
  components/ui/PostMedia/PostMedia.module.css
  components/ui/PostMedia/PostMedia.tsx
Due: eslint, prettier

feat: enhance next.config.ts with new experimental features and updated security headers
  next.config.ts
Due: eslint, prettier

fix: add suppressHydrationWarning to Text components in Comment and PostHeader for improved SSR handling
  components/ui/Comment/Comment.tsx
  components/ui/PostHeader/PostHeader.tsx
Due: eslint, prettier

fix: move postcss to dependency
  package-lock.json
  package.json
Due: prettier

fix: update npm install command to include all dependencies for proper module compilation
  nixpacks.toml
Due: none

fix: move postcss and related packages to devDependencies for better organization
  package-lock.json
  package.json
Due: prettier

upgrade to mantine v9
  .nvmrc
  components/layout/Sidebar/Sidebar.test.tsx
  components/layout/Sidebar/Sidebar.tsx
  components/ui/Comment/Comment.tsx
  lib/hooks/useCommentCollapse.ts
  package-lock.json
  package.json
Due: eslint, prettier

bump nvmrc
  .nvmrc
Due: none

fix: improve error message clarity in ErrorDisplay component
  components/ui/ErrorDisplay/ErrorDisplay.tsx
Due: eslint, prettier

feat: add logging behavior for healthcheck requests in proxy middleware
  proxy.test.ts
  proxy.ts
Due: eslint, prettier

feat: enhance proxy middleware to support NextFetchEvent and improve logging
  proxy.test.ts
  proxy.ts
Due: eslint, prettier

feat: skip logging for /api/axiom requests in proxy middleware
  proxy.test.ts
  proxy.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}
