Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

pre-push:
  parallel: true
  commands:
    test:
      run: npx vitest run

update popular limit
  lib/hooks/useSubredditSearch.ts
Due: eslint, prettier

use article
  components/PostCard/PostCard.tsx
Due: eslint, prettier

use h1, set size
  components/PostCard/PostCard.tsx
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

remove extra slash
  app/(default)/about/page.tsx
  app/(default)/r/[slug]/page.tsx
Due: eslint, prettier

add docker support
  .dockerignore
  Dockerfile
Due: none

working on tests
  eslint.config.mjs
  lib/hooks/useToggleFavorite.test.ts
  lib/hooks/useTrackRecentSubreddit.test.ts
  lib/store/services/redditApi.test.ts
  test-utils/msw/handlers.ts
  vitest.setup.ts
Due: eslint, prettier

add test script
  .github/workflows/assertions.yml
Due: prettier

ignore types
  vitest.config.ts
Due: eslint, prettier

fix typescript type
  test-utils/mocks/token.ts
Due: eslint, prettier

self host
  .gitignore
  docker-compose.yml
  next.config.ts
Due: eslint, prettier

dependency bump
  next.config.ts
  package-lock.json
Due: eslint, prettier

dependency bump
  next.config.ts
  package-lock.json
  package.json
Due: eslint, prettier

add links
  components/PostCard/PostCard.module.css
  components/PostCard/PostCard.tsx
Due: eslint, prettier

remove standalone
  next.config.ts
Due: eslint, prettier

dependency bump
  package-lock.json
Due: prettier

depdnency bump
  package-lock.json
  package.json
Due: prettier

update lockfile
  package-lock.json
Due: prettier

move sharp to deps
  package-lock.json
  package.json
Due: prettier

remove traefik service
  docker-compose.yml
Due: prettier

dependency bump
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier

update eslint config
  eslint.config.mjs
Due: prettier
