Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

pre-push:
  parallel: true
  commands:
    test:
      run: npx vitest run

update tests
  e2e/auth.setup.ts
  e2e/page-objects/PostPage.ts
  e2e/tests/anonymous/comments/expansion.spec.ts
  e2e/tests/anonymous/comments/navigation.spec.ts
  e2e/tests/authenticated/homepage/feed.spec.ts
  e2e/tests/authenticated/subreddit/subscribing.spec.ts
  playwright.config.ts
Due: eslint, prettier

address sonarqube issues fixes #669
  lib/hooks/comments/useCommentFetching/useCommentFetching.ts
  lib/hooks/comments/useCommentPagination/useCommentPagination.ts
  lib/hooks/comments/useComments/useComments.ts
Due: eslint, prettier

add missing MSW routes. fixes #666
  test-utils/msw/handlers.ts
  test-utils/msw/handlers/index.ts
  test-utils/msw/handlers/logHandlers.ts
  test-utils/msw/handlers/subscribeHandlers.ts
Due: eslint, prettier

remove link from user profile. fixes #668
  components/Feeds/User/User.tsx
Due: eslint, prettier

make sure tester can see sonarqube sonar linter reports
  .github/agents/Tester.agent.md
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

add sorting to custom feeds
  components/Feeds/Custom/Custom.test.tsx
  components/Feeds/Custom/Custom.tsx
Due: eslint, prettier

fix bug with video playing in background
  lib/hooks/media/useHlsVideo.ts
Due: eslint, prettier

remove nix packs
  nixpacks.toml
Due: none

use nixpacks
  nixpacks.toml
Due: none

bump to node 22.20
  .nvmrc
  nixpacks.toml
  package-lock.json
  package.json
Due: prettier

bump to node 24 lts
  .nvmrc
  nixpacks.toml
  package-lock.json
  package.json
Due: prettier

Update issue #677 with enhanced description and Gherkin scenarios for swipe gestures
  issues/677.md
Due: prettier

bump agents
  .github/agents/Accessibility.agent.md
  .github/agents/Implementation.agent.md
  .github/agents/Planner.agent.md
  .github/agents/Reviewer.agent.md
  .github/agents/Tester.agent.md
Due: prettier

bump agents
  .github/agents/Accessibility.agent.md
  .github/agents/Implementation.agent.md
  .github/agents/Reviewer.agent.md
  .github/agents/Tester.agent.md
Due: prettier

save posts
  app/api/auth/login/route.test.ts
  app/api/auth/login/route.ts
  app/api/reddit/save/route.test.ts
  app/api/reddit/save/route.ts
  components/UI/Post/Card/CardActions.test.tsx
  components/UI/Post/Card/CardActions.tsx
  lib/hooks/util/useSave.test.ts
  lib/hooks/util/useSave.ts
  lib/store/index.ts
  lib/store/selectors/settingsSelectors.test.ts
  lib/store/services/saveApi.test.ts
  lib/store/services/saveApi.ts
  lib/types/index.ts
  test-utils/msw/handlers.ts
  test-utils/msw/handlers/index.ts
  test-utils/msw/handlers/saveHandlers.ts
Due: eslint, prettier

peer review feedback
  app/api/auth/login/route.ts
  lib/hooks/util/useSave.ts
  lib/store/index.ts
Due: eslint, prettier

save posts (#680)
  app/api/auth/login/route.test.ts
  app/api/auth/login/route.ts
  app/api/reddit/save/route.test.ts
  app/api/reddit/save/route.ts
  components/UI/Post/Card/CardActions.test.tsx
  components/UI/Post/Card/CardActions.tsx
  lib/hooks/util/useSave.test.ts
  lib/hooks/util/useSave.ts
  lib/store/index.ts
  lib/store/selectors/settingsSelectors.test.ts
  lib/store/services/saveApi.test.ts
  lib/store/services/saveApi.ts
  lib/types/index.ts
  test-utils/msw/handlers.ts
  test-utils/msw/handlers/index.ts
  test-utils/msw/handlers/saveHandlers.ts
Due: eslint, prettier

add umami event
  components/UI/Post/Comments/CommentsList/CommentsList.tsx
Due: eslint, prettier

auto expand all comments by default
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Comments/CommentMetadata/CommentMetadata.module.css
  components/UI/Post/Comments/CommentMetadata/CommentMetadata.test.tsx
  components/UI/Post/Comments/CommentMetadata/CommentMetadata.tsx
  components/UI/Post/Comments/CommentReplies/CommentReplies.test.tsx
  components/UI/Post/Comments/CommentReplies/CommentReplies.tsx
  components/UI/Post/Comments/Comments.tsx
  e2e/page-objects/PostPage.ts
  e2e/tests/anonymous/comments/expansion.spec.ts
  lib/hooks/comments/orchestration/useComments/useComments.ts
  lib/hooks/comments/state/useCommentState/useCommentState.test.ts
  lib/hooks/comments/state/useCommentState/useCommentState.ts
  lib/hooks/feed/useInfiniteFeed.tsx
  lib/store/features/commentExpansionSlice.test.ts
  lib/store/features/commentExpansionSlice.ts
  lib/store/index.ts
  lib/store/selectors/settingsSelectors.test.ts
  lib/utils/formatting/comments/commentHelpers.test.ts
  lib/utils/formatting/comments/commentHelpers.ts
Due: eslint, prettier

enable profile search
  lib/store/services/searchApi.ts
Due: eslint, prettier

show subreddit about
  components/Feeds/Subreddit/Subreddit.tsx
  components/UI/SubredditAbout/SubredditAbout.test.tsx
  components/UI/SubredditAbout/SubredditAbout.tsx
  issues/677.md
  lib/domain/subreddit/formatActiveUsers.test.ts
  lib/domain/subreddit/formatActiveUsers.ts
  lib/domain/subreddit/formatCreatedDate.test.ts
  lib/domain/subreddit/formatCreatedDate.ts
  lib/domain/subreddit/formatSubscriberCount.test.ts
  lib/domain/subreddit/formatSubscriberCount.ts
  lib/domain/subreddit/index.ts
  lib/hooks/subreddit/useSubredditAbout/useSubredditAbout.test.ts
  lib/hooks/subreddit/useSubredditAbout/useSubredditAbout.ts
  lib/store/services/subredditApi.ts
Due: eslint, prettier

ignore popular. add umami
  components/Feeds/Subreddit/Subreddit.tsx
Due: eslint, prettier

remove gray matter
  README.md
  app/(default)/about/page.tsx
  lib/utils/formatting/markdown/parseFrontmatter.test.ts
  lib/utils/formatting/markdown/parseFrontmatter.ts
  package-lock.json
  package.json
Due: eslint, prettier

bump agents and mcp
  .github/agents/Accessibility.agent.md
  .github/agents/Implementation.agent.md
  .github/agents/Planner.agent.md
  .github/agents/Reviewer.agent.md
  .github/agents/Tester.agent.md
  .vscode/mcp.json
Due: prettier

bump agent
  .github/agents/Planner.agent.md
Due: prettier

fix fullscreen video issue
  components/UI/Post/Media/HlsPlayer/HlsPlayer.module.css
Due: prettier

address code review issues
  components/UI/Post/Media/HlsPlayer/HlsPlayer.tsx
  components/UI/Post/Media/Media.tsx
  lib/hooks/media/useGalleryData.ts
  lib/hooks/media/useMediaAssets.ts
  lib/hooks/media/useMediaType.ts
  lib/utils/api/baseQuery/redditProxyHelpers.test.ts
Due: eslint, prettier

add comment collapse. use a logarithmic-like approach that reduces the increment at deeper levels
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Comments/CommentReplies/CommentReplies.test.tsx
  components/UI/Post/Comments/CommentReplies/CommentReplies.tsx
  lib/hooks/comments/state/useCommentCollapse/useCommentCollapse.test.ts
  lib/hooks/comments/state/useCommentCollapse/useCommentCollapse.ts
Due: eslint, prettier

clean up unused css
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
Due: prettier
