Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

remove deprecated codeql
  .github/workflows/codeql.yml
Due: prettier

update description
  README.md
  package-lock.json
  package.json
  public/manifest.webmanifest
Due: prettier

set headers
  api/popular/index.mjs
  api/search/index.mjs
  api/subreddit/index.mjs
Due: prettier

add redirect config
  vercel.json
Due: prettier

set redirect to permanent
  vercel.json
Due: prettier

remove query params
  vercel.json
Due: prettier

add key
  vercel.json
Due: prettier

dont worry about query params
  vercel.json
Due: prettier

tidy up
  .gitignore
Due: none

dependency bump
  package-lock.json
  package.json
Due: prettier

add aria-label to all controls
  src/components/Controls.tsx
Due: eslint, prettier

continue adding aria-label
  src/components/About.tsx
  src/components/Modal.tsx
  src/components/Recent.tsx
  src/components/Search.tsx
  src/components/Settings.tsx
  src/components/SubredditItem.tsx
Due: eslint, prettier

add canonical url tag
  index.html
Due: none

move posts and popular to public api. keep search behind private
  src/components/Controls.tsx
  src/components/Feed.tsx
  src/components/Popular.tsx
  src/components/Search.tsx
  src/store/services/privateApi.ts
  src/store/services/publicApi.ts
  src/store/services/redditApi.ts
  src/store/store.ts
Due: eslint, prettier

remove private api routes
  api/popular/index.mjs
  api/subreddit/index.mjs
Due: prettier

simplify search
  api/auth/index.mjs
  api/search/index.mjs
  src/components/Search.tsx
  src/store/features/settingsSlice.ts
  src/store/services/privateApi.ts
  src/types/settings.ts
  src/utils/baseQueryWithAuth.ts
  src/utils/storage.ts
Due: eslint, prettier

update about
  index.html
  public/buymeacoffee.png
  src/App.tsx
  src/components/About.tsx
  src/components/Modal.tsx
Due: eslint, prettier

add clsx
  package-lock.json
  package.json
Due: prettier

pin the modal
  src/components/Modal.tsx
Due: eslint, prettier

link to sub
  src/components/Post.tsx
Due: eslint, prettier

use clsx
  src/components/Settings.tsx
Due: eslint, prettier

tweak viewing history
  src/App.tsx
  src/components/Recent.tsx
Due: eslint, prettier

clicking on a sub adds it to viewing history
  src/components/Post.tsx
Due: eslint, prettier

add subscriber type
  src/types/reddit.ts
Due: eslint, prettier

home is now /r/all
  src/components/Controls.tsx
Due: eslint, prettier

tweak mobile style
  src/components/About.tsx
Due: eslint, prettier

update words
  src/components/Recent.tsx
Due: eslint, prettier

adjust theme support
  index.html
  src/components/About.tsx
  src/components/Controls.tsx
  src/components/Post.tsx
  src/icons/Popular.tsx
  src/index.css
Due: eslint, prettier

support links, articles, and self text
  src/components/Media.tsx
Due: eslint, prettier

rename to public api
  src/store/services/publicApi.ts
Due: eslint, prettier

add self text type
  src/types/reddit.ts
Due: eslint, prettier

lower lineclamp
  src/components/Media.tsx
Due: eslint, prettier

adjust min/max widths across the board
  src/components/Controls.tsx
  src/components/Media.tsx
  src/components/Post.tsx
Due: eslint, prettier

adjust line-clamp and bg-gradient
  src/components/Post.tsx
Due: eslint, prettier

refactor dark mode and controls
  src/App.tsx
  src/components/Controls.tsx
  src/components/Post.tsx
  src/icons/Comments.tsx
  src/icons/History.tsx
  src/icons/Time.tsx
  src/icons/User.tsx
  src/index.css
Due: eslint, prettier

remove comment
  src/utils/storage.ts
Due: eslint, prettier

fix about centering
  src/components/About.tsx
Due: eslint, prettier

update description
  .env.example
  CONTRIBUTING.md
  README.md
  public/manifest.webmanifest
Due: prettier
