Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

pre-push:
  parallel: true
  commands:
    test:
      run: npx vitest run

update layout and no index 404
  app/global-not-found.tsx
  app/layout.tsx
Due: eslint, prettier

bump umami url
  app/layout.tsx
Due: eslint, prettier

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier

Add Claude Code GitHub Workflow (#620)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

bump ignores
  .gitignore
  .prettierignore
Due: none

update agent instructions
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: prettier

add claude agents
  .claude/agents/accessibility-tester.md
  .claude/agents/architect-reviewer.md
  .claude/agents/code-reviewer.md
  .claude/agents/fullstack-developer.md
  .claude/agents/nextjs-developer.md
  .claude/agents/performance-engineer.md
  .claude/agents/qa-expert.md
  .claude/agents/typescript-pro.md
  .claude/settings.local.json
  .github/workflows/assertions.yml
  playwright.config.ts
  tests/e2e/README.md
  tests/e2e/accessibility.spec.ts
  tests/e2e/core-functionality.spec.ts
  tests/e2e/fixtures/apiMocks.ts
  tests/e2e/user-journeys.spec.ts
  vitest.config.ts
Due: eslint, prettier

add claud settings
  .claude/settings.local.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

formatting
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: prettier

remove
  .github/workflows/assertions.yml
  playwright.config.ts
  tests/e2e/README.md
  tests/e2e/accessibility.spec.ts
  tests/e2e/core-functionality.spec.ts
  tests/e2e/fixtures/apiMocks.ts
  tests/e2e/user-journeys.spec.ts
Due: eslint, prettier

bump types
  lib/store/services/redditApi.ts
  lib/types/reddit-api.ts
  scripts/generation-summary.json
  scripts/reddit-openapi-complete.json
Due: eslint, prettier

remove
  .claude/settings.local.json
Due: prettier

add csp
  app/api/reddit/route.ts
  next.config.ts
Due: eslint, prettier

bump
  .gitignore
Due: none

update url
  lefthook.yml
Due: prettier

formatting
  .github/workflows/assertions.yml
Due: prettier

mention comment standards
  .claude/agents/accessibility-tester.md
  .claude/agents/architect-reviewer.md
  .claude/agents/code-reviewer.md
  .claude/agents/fullstack-developer.md
  .claude/agents/nextjs-developer.md
  .claude/agents/performance-engineer.md
  .claude/agents/qa-expert.md
  .claude/agents/security-engineer.md
  .claude/agents/typescript-pro.md
Due: prettier

update comments
  lib/utils/formatTimeAgo.ts
  lib/utils/storage.ts
Due: eslint, prettier

feat: implement single post display with proper routing and comments
  CLAUDE.md
  app/(default)/r/[subreddit]/comments/[postId]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  components/Comments/Comments.tsx
  components/PostCard/PostCard.test.tsx
  components/PostCard/PostCard.tsx
  components/SinglePost/SinglePost.module.css
  components/SinglePost/SinglePost.test.tsx
  components/SinglePost/SinglePost.tsx
  lib/store/services/redditApi.test.ts
  lib/store/services/redditApi.ts
  lib/types/index.ts
  test-utils/mocks/singlePost.ts
  test-utils/msw/handlers/proxyHandlers.ts
Due: eslint, prettier

docs: add GitHub workflow with format step to CLAUDE.md
  CLAUDE.md
Due: prettier

fix: resolve markdown linting issues in CLAUDE.md
  CLAUDE.md
Due: prettier

fix: resolve SinglePost test failures and MSW handler issues
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  components/SinglePost/SinglePost.test.tsx
  test-utils/msw/handlers/proxyHandlers.ts
Due: eslint, prettier

fix: revert claude-code-review.yml to match main branch exactly
  .github/workflows/claude-code-review.yml
Due: prettier

fix: resolve all remaining test failures for complete test suite
  .github/workflows/claude-code-review.yml
  components/Comments/Comments.test.tsx
  components/SinglePost/SinglePost.test.tsx
Due: eslint, prettier

pin dependencies. add nixpacks.toml
  nixpacks.toml
  package-lock.json
  package.json
Due: prettier

fix: remove invalid npm-11_x package from nixpacks.toml
  nixpacks.toml
Due: none

bump configs
  nixpacks.toml
  package.json
Due: prettier

remove npm 11
  .github/workflows/assertions.yml
Due: prettier

change env var
  .env.example
  app/api/reddit/route.ts
  vitest.setup.ts
Due: eslint, prettier

add test
  app/api/log/route.test.ts
  app/api/reddit/route.test.ts
Due: eslint, prettier

reorgainize ai files
  .github/agents/accessibility-tester.md
  .github/agents/architect-reviewer.md
  .github/agents/code-reviewer.md
  .github/agents/fullstack-developer.md
  .github/agents/nextjs-developer.md
  .github/agents/performance-engineer.md
  .github/agents/qa-expert.md
  .github/agents/security-engineer.md
  .github/agents/typescript-pro.md
  .github/copilot-instructions.md
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier

remove claude review
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

bump comment
  nixpacks.toml
Due: none

remove
  .vscode/mcp.json
Due: prettier

peer review feedback
  components/SinglePost/SinglePost.tsx
Due: eslint, prettier

peer feedbacks
  app/(default)/r/[subreddit]/comments/[postId]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  components/SinglePost/SinglePost.tsx
  lib/types/index.ts
Due: eslint, prettier

agents is source of truth
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
Due: prettier
