Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

update dd config
  components/DatadogRum.tsx
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

increase to 10
  lib/services/publicApi.ts
Due: eslint, prettier

remove datadog
  app/layout.tsx
  components/DatadogRum.tsx
  package-lock.json
  package.json
Due: eslint, prettier

update dependencies
  package-lock.json
  package.json
Due: prettier

update configs. tailwind 4. fix eslint. remove stylelint. next.js 15. bulk formatting
  .dockerignore
  .gitignore
  .prettierrc.js
  .stylelintrc.js
  Dockerfile
  app/api/health/route.ts
  app/globals.css
  app/r/[slug]/loading.tsx
  components/About.tsx
  components/BackToTop.tsx
  components/BossButton.tsx
  components/HlsPlayer.tsx
  components/Posts.tsx
  components/Search.tsx
  docker-compose.yml
  eslint.config.mjs
  lefthook.yml
  next-env.d.ts
  next.config.ts
  postcss.config.js
  tailwind.config.ts
  tsconfig.json
Due: eslint, prettier

update postcss config
  postcss.config.js
Due: eslint, prettier

postcss config
  postcss.config.js
Due: eslint, prettier

rename extension
  lefthook.yml
  postcss.config.mjs
  prettier.config.mjs
Due: prettier

not standalone
  package.json
Due: prettier

v7.0.0
  package-lock.json
  package.json
Due: prettier

remove workspace
  viewer-for-reddit.code-workspace
Due: none

fix assertions
  .github/workflows/assertions.yml
Due: prettier

remove autoprefixer. swap tabler for react icons
  package-lock.json
  package.json
Due: prettier

center buttons
  app/globals.css
Due: prettier

organize types
  lib/types.d.ts
  lib/types.ts
Due: eslint, prettier

allow some html
  lib/functions.ts
Due: eslint, prettier

clean up actions. add fetch popular
  lib/actions.ts
Due: eslint, prettier

import type
  app/r/[slug]/page.tsx
  components/HlsPlayer.tsx
  components/Search.tsx
Due: eslint, prettier

add trending
  app/page.tsx
Due: eslint, prettier

update icon import
  components/BackToTop.tsx
  components/BossButton.tsx
Due: eslint, prettier

add buy me a coffee
  components/Footer.tsx
Due: eslint, prettier

allow text-based posts. add view on reddit button. import type. sonarqube fixes.
  components/Media.tsx
  components/Posts.tsx
Due: eslint, prettier

fallback support. clean up hls
  components/HlsPlayer.tsx
  components/Media.tsx
  lib/types.ts
Due: eslint, prettier

add uuid
  package-lock.json
  package.json
Due: prettier

add uuid. tweaks
  lib/actions.ts
Due: eslint, prettier

initial commit with mantine and redux
  app/globals.css
  app/layout.tsx
  components/Footer.module.css
  components/Footer.tsx
  components/Header.module.css
  components/Header.tsx
  components/StoreProvider.tsx
  lib/features/settingsSlice.ts
  lib/features/transientSlice.ts
  lib/hooks.ts
  lib/services/privateApi.ts
  lib/services/publicApi.ts
  lib/storage.ts
  lib/store.ts
  lib/types.ts
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  prettier.config.mjs
  types/hls.ts
  types/reddit.ts
  types/settings.ts
Due: eslint, prettier

mantine 8. mantine nprogress
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}
