Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

address breadcrumb issue
  components/Breadcrumb/Breadcrumb.module.css
Due: prettier

bump spelling
  .vscode/settings.json
Due: prettier

remove ignore
  eslint.config.mjs
Due: prettier

fix: request permanent OAuth duration to receive refresh tokens
  app/api/auth/login/route.ts
  lib/utils/oauthHelpers.test.ts
  lib/utils/oauthHelpers.ts
Due: eslint, prettier

bump dependencies
  package-lock.json
  package.json
Due: prettier

bump nixpacks
  nixpacks.toml
Due: none

support displaying galleries
  components/Gallery/Gallery.module.css
  components/Gallery/Gallery.tsx
  components/Media/Media.tsx
  components/PostCard/PostCard.tsx
  lib/hooks/useGalleryData.test.ts
  lib/hooks/useGalleryData.ts
  lib/hooks/useMediaType.ts
  package-lock.json
  package.json
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

adjust media container
  components/MediaContainer/MediaContainer.module.css
Due: prettier

add route caching
  app/api/reddit/me/route.test.ts
  app/api/reddit/me/route.ts
  app/api/reddit/route.ts
Due: eslint, prettier

level up rate limiting
  components/Search/Search.test.tsx
  lib/auth/rateLimit.test.ts
  lib/auth/rateLimit.ts
  lib/hooks/useSubredditSearch.ts
  lib/utils/retryConfig.test.ts
  lib/utils/retryConfig.ts
Due: eslint, prettier

also log instance id
  lib/auth/rateLimit.ts
Due: eslint, prettier

re-think seo strategy
  app/(default)/r/[subreddit]/comments/[postId]/[[...slug]]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  app/robots.ts
  app/sitemap.ts
Due: eslint, prettier

undo all seo work
  app/(default)/r/[subreddit]/comments/[postId]/[[...slug]]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  app/(default)/u/[username]/page.tsx
  lib/actions/getSinglePost.test.ts
  lib/actions/getSinglePost.ts
  lib/actions/getSubreddit.test.ts
  lib/actions/getSubreddit.ts
  lib/actions/getUserProfile.test.ts
  lib/actions/getUserProfile.ts
Due: eslint, prettier

move seo client side
  components/Posts/Posts.tsx
  components/SinglePost/SinglePost.tsx
  components/UserProfile/UserProfile.tsx
  lib/hooks/useUpdateMeta.test.ts
  lib/hooks/useUpdateMeta.ts
Due: eslint, prettier

fix post setting home seo
  components/Posts/Posts.tsx
Due: eslint, prettier

update description
  README.md
  lib/config.ts
  package.json
Due: eslint, prettier

add umami to most buttons
  components/Auth/LoginButton.tsx
  components/Auth/LogoutButton.tsx
  components/Auth/UserMenu.tsx
  components/BackToTop/BackToTop.tsx
  components/BossButton/BossButton.tsx
  components/ErrorMessage/ErrorMessage.tsx
  components/Header/HeaderIcons.tsx
  components/Settings/Settings.tsx
Due: eslint, prettier

bump meta on about
  app/(default)/about/page.tsx
Due: eslint, prettier

adjust min height
  components/MediaContainer/MediaContainer.module.css
Due: prettier

fix breadcrumb client-side issue
  app/(default)/r/[subreddit]/comments/[postId]/[[...slug]]/page.tsx
  components/Breadcrumb/Breadcrumb.tsx
  components/SinglePost/SinglePost.tsx
Due: eslint, prettier

add umami events
  components/Header/HeaderIcons.tsx
  components/PostCard/PostActions.tsx
  components/Posts/Posts.tsx
  components/VoteButtons/VoteButtons.tsx
Due: eslint, prettier

remove coverage command
  package.json
Due: prettier

docs: update CONTRIBUTING.md with new sections on pre-commit hooks, testing guidelines, and error logging system; add CLAUDE.md for agent guidance
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier

set to year the repo started
  LICENSE
Due: none

lots of bug fixes and cleans ups
  app/(default)/layout.tsx
  app/(default)/r/[subreddit]/page.tsx
  components/Feeds/Custom/Custom.tsx
  components/Feeds/Favorites/Favorites.test.tsx
  components/Feeds/Favorites/Favorites.tsx
  components/Feeds/Single/Single.tsx
  components/Feeds/Subreddit/Subreddit.module.css
  components/Feeds/Subreddit/Subreddit.test.tsx
  components/Feeds/Subreddit/Subreddit.tsx
  components/Feeds/User/User.tsx
  components/Layout/Homepage/Homepage.tsx
  components/UI/Post/Card/Card.module.css
  components/UI/Post/Card/Card.test.tsx
  components/UI/Post/Card/Card.tsx
  components/UI/Post/Card/CardActions.module.css
  components/UI/Post/Card/CardActions.tsx
  components/UI/Post/Card/CardHeader.tsx
  components/UI/Post/CardHeader.tsx
  components/UI/Post/Comments/CommentCard/CommentCard.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Media.module.css
  components/UI/Post/Media/HlsPlayer/HlsPlayer.tsx
  components/UI/Post/Media/Media.module.css
  components/UI/Post/Media/Media.test.tsx
  components/UI/Post/Media/Media.tsx
  lib/hooks/useSubredditSearch.ts
Due: eslint, prettier

upgrade to next.js 16. vitest 4
  app/(default)/page.tsx
  app/(default)/r/[subreddit]/comments/[postId]/[[...slug]]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  app/(default)/u/[username]/page.tsx
  app/(default)/user/[username]/m/[customfeed]/page.tsx
  app/api/auth/callback/reddit/route.test.ts
  app/layout.tsx
  components/UI/Post/Media/HlsPlayer/HlsPlayer.test.tsx
  lib/store/features/settingsSlice.test.ts
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier

remove tailwind
  .vscode/extensions.json
Due: prettier

dependency bump
  AGENTS.md
  package-lock.json
  package.json
Due: prettier

decode self text. fixes #651
  components/UI/Post/Media/Media.tsx
Due: eslint, prettier

enable cached components
  app/(default)/layout.tsx
  app/(default)/r/[subreddit]/comments/[postId]/[[...slug]]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  app/(default)/u/[username]/page.tsx
  app/(default)/user/[username]/m/[customfeed]/page.tsx
  next.config.ts
Due: eslint, prettier

enable react 19 compiler
  next.config.ts
  package-lock.json
  package.json
Due: eslint, prettier

make sure global 404 is wrapped in suspense
  app/global-not-found.tsx
Due: eslint, prettier

set default quality
  next.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}
