Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

dependency bump
  package-lock.json
  package.json
Due: prettier

dependency bump
  package-lock.json
Due: prettier

disable telemetry
  Dockerfile
Due: none

apply codemod
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier

update dockerfile
  Dockerfile
Due: none

add more tests. various clean ups
  lib/actions/redditToken.ts
  lib/store/features/settingsSlice.test.ts
  lib/store/features/transientSlice.test.ts
  lib/store/services/redditApi.test.ts
  lib/utils/mediaCache.ts
  lib/utils/storage.ts
  lib/utils/token.test.ts
  test-utils/msw/handlers.ts
Due: eslint, prettier

add more tests
  lib/hooks/useBossButton.test.ts
  lib/hooks/useHeaderState.test.ts
  lib/hooks/useTrackRecentSubreddit.test.ts
  lib/utils/debounce.test.ts
  lib/utils/debounce.ts
  lib/utils/extractChildren.test.ts
  lib/utils/formatTimeAgo.test.ts
  lib/utils/getIsVertical.test.ts
  lib/utils/getMediumImage.test.ts
  lib/utils/logError.test.ts
  lib/utils/sanitizeText.test.ts
  lib/utils/subredditMapper.test.ts
Due: eslint, prettier

use mantine hooks
  components/ResponsiveImage/ResponsiveImage.tsx
  components/YouTubePlayer/YouTubePlayer.tsx
  lib/hooks/useYouTubeVideo.ts
  lib/utils/debounce.test.ts
  lib/utils/debounce.ts
Due: eslint, prettier

docs: correct GitHub capitalization
  CONTRIBUTING.md
Due: prettier

update global types
  global.d.ts
  globals.d.ts
  test-utils/mocks/subreddit.ts
Due: eslint, prettier

Merge branch 'main' into work
  global.d.ts
  globals.d.ts
  package-lock.json
  package.json
  test-utils/mocks/subreddit.ts
Due: eslint, prettier

ignore triple slash
  eslint.config.mjs
Due: prettier

dont use alias for images
  app/(default)/not-found.tsx
  components/Header/Header.tsx
  components/SubredditName/SubredditName.tsx
Due: eslint, prettier

trying to fix github actions
  .github/workflows/assertions.yml
  package.json
Due: prettier

continue tweaks for GA
  app/(default)/not-found.tsx
  components/Header/Header.tsx
  components/SubredditName/SubredditName.tsx
  eslint.config.mjs
  package.json
Due: eslint, prettier

still trying to get github actions to work
  global.d.ts
  images.d.ts
  lib/types/global.ts
  test-utils/mocks/subreddit.ts
Due: eslint, prettier

update assertions
  .github/workflows/assertions.yml
  package.json
Due: prettier

still working on ga
  .github/workflows/assertions.yml
  package.json
Due: prettier

include types
  tsconfig.json
Due: prettier

update paths
  app/(default)/not-found.tsx
  components/Header/Header.tsx
  components/SubredditName/SubredditName.tsx
Due: eslint, prettier

add baseUrl
  global.d.ts
  images.d.ts
  tsconfig.json
Due: eslint, prettier

one last try to fix github actions
  tsconfig.json
Due: prettier

remove tsc
  package.json
Due: prettier

github actions appears to be working now
  .github/workflows/assertions.yml
  package-lock.json
  package.json
Due: prettier

use npm i
  .github/workflows/assertions.yml
Due: prettier

try just rollup
  package-lock.json
  package.json
Due: prettier

add .next cache to pipes
  .github/workflows/assertions.yml
Due: prettier

docs: correct GitHub capitalization (#579)
  CONTRIBUTING.md
Due: prettier

test: wrap header state updates in act
  lib/hooks/useHeaderState.test.ts
Due: eslint, prettier

test: wrap header state updates in act (#580)
  lib/hooks/useHeaderState.test.ts
Due: eslint, prettier

test: adjust boss button assertion formatting
  components/BackToTop/BackToTop.test.tsx
  components/BossButton/BossButton.test.tsx
  lib/utils/storage.test.ts
Due: eslint, prettier

test: adjust boss button assertion formatting (#581)
  components/BackToTop/BackToTop.test.tsx
  components/BossButton/BossButton.test.tsx
  lib/utils/storage.test.ts
Due: eslint, prettier

test: fix hls player test
  components/Favorite/Favorite.test.tsx
  components/HlsPlayer/HlsPlayer.test.tsx
  components/Media/Media.test.tsx
  components/MediaContainer/MediaContainer.test.tsx
  components/PostCard/PostCard.test.tsx
  components/Posts/Posts.test.tsx
  components/ResponsiveImage/ResponsiveImage.test.tsx
  components/Search/Search.test.tsx
  components/Settings/Settings.test.tsx
  components/Sidebar/Sidebar.test.tsx
  components/SubredditName/SubredditName.test.tsx
  components/YouTubePlayer/YouTubePlayer.test.tsx
Due: eslint, prettier

test: fix hls player test (#582)
  components/Favorite/Favorite.test.tsx
  components/HlsPlayer/HlsPlayer.test.tsx
  components/Media/Media.test.tsx
  components/MediaContainer/MediaContainer.test.tsx
  components/PostCard/PostCard.test.tsx
  components/Posts/Posts.test.tsx
  components/ResponsiveImage/ResponsiveImage.test.tsx
  components/Search/Search.test.tsx
  components/Settings/Settings.test.tsx
  components/Sidebar/Sidebar.test.tsx
  components/SubredditName/SubredditName.test.tsx
  components/YouTubePlayer/YouTubePlayer.test.tsx
Due: eslint, prettier

test: replace direct DOM access in HlsPlayer test
  components/HlsPlayer/HlsPlayer.test.tsx
  components/HlsPlayer/HlsPlayer.tsx
Due: eslint, prettier

test: replace direct DOM access in HlsPlayer test (#583)
  components/HlsPlayer/HlsPlayer.test.tsx
  components/HlsPlayer/HlsPlayer.tsx
Due: eslint, prettier

test: exclude app directory from coverage
  components/SubredditName/SubredditName.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}
