Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

pre-push:
  parallel: true
  commands:
    test:
      run: npx vitest run

test: refine next image mock types
  vitest.setup.ts
Due: eslint, prettier

fix: mock next image in tests (#584)
  components/SubredditName/SubredditName.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier

test: add sidebar tests
  components/Media/Media.test.tsx
  components/Posts/Posts.test.tsx
  components/Settings/Settings.test.tsx
  components/Sidebar/SidebarNavLink.test.tsx
  components/Sidebar/SidebarSection.test.tsx
  components/YouTubePlayer/YouTubePlayer.test.tsx
Due: eslint, prettier

test: format media attribute assertion
  components/Media/Media.test.tsx
  components/Posts/Posts.test.tsx
Due: eslint, prettier

test: improve component coverage (#585)
  components/Media/Media.test.tsx
  components/Posts/Posts.test.tsx
  components/Settings/Settings.test.tsx
  components/Sidebar/SidebarNavLink.test.tsx
  components/Sidebar/SidebarSection.test.tsx
  components/YouTubePlayer/YouTubePlayer.test.tsx
Due: eslint, prettier

Add accessible labels to settings switches
  components/Settings/Settings.tsx
Due: eslint, prettier

update settings and add tests for 100% coverage
  components/Settings/Settings.test.tsx
  components/Settings/Settings.tsx
Due: eslint, prettier

global 404
  app/(default)/not-found.tsx
  app/global-not-found.tsx
  next.config.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

use new snoo
  app/apple-icon.png
  app/favicon.ico
  app/icon.png
Due: none

match reddit's color scheme and fonts
  app/layout.tsx
Due: eslint, prettier

decrease burger. rename logo to Snoo
  components/Header/Header.tsx
Due: eslint, prettier

update about page. use markdown to publish content
  app/(default)/about/about.md
  app/(default)/about/page.tsx
Due: eslint, prettier

install darwin
  package-lock.json
  package.json
Due: prettier

bump about
  README.md
Due: prettier

remove darwin
  package-lock.json
  package.json
Due: prettier

fix global types
  global.d.ts
Due: eslint, prettier

add media chrome player
  package-lock.json
  package.json
Due: prettier

implement media chrome
  components/HlsPlayer/HlsPlayer.test.tsx
  components/HlsPlayer/HlsPlayer.tsx
  lib/types/index.ts
Due: eslint, prettier

peer review feedback
  components/HlsPlayer/HlsPlayer.tsx
Due: eslint, prettier

initial commit of agents.md
  AGENTS.md
Due: prettier

add another test example
  AGENTS.md
Due: prettier

feat(postcard): add datetime to post time
  components/PostCard/PostCard.test.tsx
  components/PostCard/PostCard.tsx
Due: eslint, prettier

feat(postcard): add datetime to post time (#593)
  components/PostCard/PostCard.test.tsx
  components/PostCard/PostCard.tsx
Due: eslint, prettier

feat: adjust PostCard heading level
  components/PostCard/PostCard.test.tsx
  components/PostCard/PostCard.tsx
Due: eslint, prettier

test: stub media-chrome in HlsPlayer
  components/HlsPlayer/HlsPlayer.test.tsx
  components/Media/Media.test.tsx
  components/Media/Media.tsx
Due: eslint, prettier

test: stub media-chrome in HlsPlayer (#595)
  components/HlsPlayer/HlsPlayer.test.tsx
  components/Media/Media.test.tsx
  components/Media/Media.tsx
Due: eslint, prettier

feat: adjust PostCard heading level (#594)
  components/PostCard/PostCard.test.tsx
  components/PostCard/PostCard.tsx
Due: eslint, prettier

update agents.md and add copilot-instructions.md
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier

remove standalone
  .dockerignore
  Dockerfile
  docker-compose.yml
  next.config.ts
Due: eslint, prettier

add more details
  .github/copilot-instructions.md
Due: prettier

adjust header spacing
  components/Posts/Posts.module.css
  components/Posts/Posts.tsx
Due: eslint, prettier

search is now transient
  components/Header/Header.tsx
  lib/hooks/useSubredditSearch.ts
  lib/store/features/transientSlice.ts
Due: eslint, prettier

add more tests
  components/Search/Search.test.tsx
  lib/hooks/useHeaderState.test.ts
  lib/hooks/useHeaderState.ts
  lib/hooks/useHlsVideo.test.ts
  lib/hooks/useHlsVideo.ts
  lib/hooks/useInfinitePosts.test.ts
  lib/hooks/useMediaAssets.test.ts
  lib/hooks/useMediaAssets.ts
  lib/hooks/useMediaType.test.ts
  lib/hooks/useMediaType.ts
  lib/hooks/useRemoveItemFromHistory.test.ts
  lib/hooks/useSidebarSection.test.ts
  lib/hooks/useSubredditSearch.test.ts
  lib/hooks/useToggleFavorite.test.ts
  lib/hooks/useTrackRecentSubreddit.test.ts
  lib/store/features/transientSlice.test.ts
  lib/utils/mediaCache.test.ts
  test-utils/domShims.ts
  vitest.setup.ts
Due: eslint, prettier

clean up mediaCache
  lib/utils/mediaCache.test.ts
  lib/utils/mediaCache.ts
Due: eslint, prettier

move sharp to dev dep
  package-lock.json
  package.json
Due: prettier
