Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

bump for next.js 16
  AGENTS.md
Due: prettier

8.2.0
  package-lock.json
  package.json
Due: prettier

fix: add SSRF protection with URL normalization and validation
  app/api/reddit/route.test.ts
  app/api/reddit/route.ts
Due: eslint, prettier

fix: reconstruct URL from validated components to satisfy CodeQL
  app/api/reddit/route.test.ts
  app/api/reddit/route.ts
Due: eslint, prettier

fix: use TRUSTED_BASE constant to break taint flow for CodeQL
  app/api/reddit/route.ts
Due: eslint, prettier

fix: add CodeQL suppression for false positive SSRF alert
  app/api/reddit/route.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

remove claude
  .claude/agents/accessibility-tester.md
  .claude/agents/architect-reviewer.md
  .claude/agents/code-reviewer.md
  .claude/agents/fullstack-developer.md
  .claude/agents/nextjs-developer.md
  .claude/agents/performance-engineer.md
  .claude/agents/qa-expert.md
  .claude/agents/security-engineer.md
  .claude/agents/typescript-pro.md
  CLAUDE.md
Due: prettier

setup sonarqube
  .gitignore
  .vscode/settings.json
  package.json
  sonar-project.properties
Due: prettier

don't scan autogen files
  sonar-project.properties
Due: none

reduce cognitive complexity
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Media/Media.tsx
Due: eslint, prettier

update sonar command
  package.json
Due: prettier

address code smell issues
  .vscode/settings.json
  app/(default)/about/page.tsx
  app/(default)/r/[subreddit]/comments/[postId]/[[...slug]]/page.tsx
  app/(default)/r/[subreddit]/page.tsx
  app/(default)/u/[username]/page.tsx
  app/(default)/user/[username]/m/[customfeed]/page.tsx
  app/api/reddit/route.test.ts
  components/Feeds/Favorites/Favorites.tsx
  components/Layout/Homepage/Homepage.tsx
  components/Layout/NotFoundClient/NotFoundClient.tsx
  components/UI/Auth/LoginButton.tsx
  components/UI/Breadcrumb/Breadcrumb.tsx
  components/UI/Post/Comments/CommentExpansionContext/CommentExpansionContext.tsx
  components/UI/Post/Comments/CommentsEmpty/CommentsEmpty.tsx
  components/UI/Post/Comments/CommentsLoading/CommentsLoading.tsx
  components/UI/Post/Media/HlsPlayer/HlsPlayer.tsx
  components/UI/Post/Media/ResponsiveImage/ResponsiveImage.tsx
  lib/auth/rateLimit.ts
  lib/hooks/useBossButton.ts
  lib/hooks/useGalleryData.ts
  lib/hooks/useUpdateMeta.ts
  lib/store/features/settingsSlice.ts
  lib/types/index.ts
  lib/utils/api/baseQuery/createRedditBaseQuery.ts
  lib/utils/formatting/commentHelpers.ts
  lib/utils/formatting/generatePostSlug.ts
  lib/utils/formatting/getMediumImage.ts
  lib/utils/storage/mediaCache.ts
  lib/utils/storage/storage.ts
  lib/utils/validation/errorSanitizer.ts
  lib/utils/validation/sanitizeText.ts
  lib/utils/validation/urlSanitizer.ts
  lib/utils/validation/validateOrigin.ts
  package.json
  vitest.config.ts
Due: eslint, prettier

reduce code duplication
  app/api/reddit/me/route.ts
  app/api/reddit/route.ts
  app/api/reddit/subscriptions/route.ts
  app/api/reddit/utils/routeHelpers.ts
  lib/hooks/useFeedRenderer.test.tsx
  lib/hooks/useFeedRenderer.tsx
  sonar-project.properties
Due: eslint, prettier

mention sonar in agents
  AGENTS.md
Due: prettier

add sonar script
  package.json
  scripts/sonar-analysis.sh
Due: prettier

add new chat modes
  .github/chatmodes/Code Review.chatmode.md
  .github/chatmodes/Front-end Engineer.chatmode.md
Due: prettier

bring testing coverage up from 80.4% to 89.9%
  components/UI/Breadcrumb/Breadcrumb.test.tsx
  components/UI/Post/Media/Media.test.tsx
  components/UI/Post/Media/ResponsiveImage/ResponsiveImage.test.tsx
  lib/store/services/commentsApi.ts
  lib/utils/api/commentsPagination.test.ts
  lib/utils/api/commentsPagination.ts
Due: eslint, prettier

add more modes
  .github/chatmodes/Accessibility Expert.chatmode.md
  .github/chatmodes/Planning Mode.chatmode.md
  .github/chatmodes/Testing Specialist.chatmode.md
Due: prettier

view user's saved posts. closes #654
  app/(default)/user/[username]/saved/page.tsx
  app/api/auth/login/route.test.ts
  app/api/auth/login/route.ts
  components/Feeds/Saved/Saved.test.tsx
  components/Feeds/Saved/Saved.tsx
  components/Layout/NotFoundClient/NotFoundClient.test.tsx
  components/Layout/Sidebar/Sidebar.test.tsx
  components/Layout/Sidebar/Sidebar.tsx
  lib/hooks/useInfiniteFeed.tsx
  lib/store/services/authenticatedApi.test.ts
  lib/store/services/authenticatedApi.ts
  test-utils/msw/handlers/authHandlers.ts
Due: eslint, prettier

add umami events
  components/Layout/Sidebar/Sidebar.tsx
  components/Layout/Sidebar/SidebarNavLink.tsx
  components/Layout/Sidebar/SidebarSection.tsx
Due: eslint, prettier

remove chat modes
  .github/chatmodes/Accessibility Expert.chatmode.md
  .github/chatmodes/Code Review.chatmode.md
  .github/chatmodes/Front-end Engineer.chatmode.md
  .github/chatmodes/Planning Mode.chatmode.md
  .github/chatmodes/Testing Specialist.chatmode.md
Due: prettier

Enhance comment engagement with voting, sorting, and navigation. Closes #655
  components/Feeds/Custom/Custom.test.tsx
  components/Feeds/Single/Single.tsx
  components/Layout/Homepage/Homepage.test.tsx
  components/Layout/Sidebar/Sidebar.test.tsx
  components/UI/Post/Card/Card.tsx
  components/UI/Post/Card/CardActions.tsx
  components/UI/Post/Comments/CommentCard/CommentCard.tsx
  components/UI/Post/Comments/CommentExpansionContext/CommentExpansionContext.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Comments/CommentSortControls/CommentSortControls.module.css
  components/UI/Post/Comments/CommentSortControls/CommentSortControls.test.tsx
  components/UI/Post/Comments/CommentSortControls/CommentSortControls.tsx
  components/UI/Post/Comments/Comments.tsx
  components/UI/Post/VoteButtons/VoteButtons.tsx
  components/UI/Search/Search.test.tsx
  lib/hooks/useSubredditSearch.test.ts
  lib/hooks/useVote.ts
  lib/store/features/settingsSlice.test.ts
  lib/store/features/settingsSlice.ts
  lib/store/selectors/settingsSelectors.test.ts
  lib/types/index.ts
  lib/utils/formatting/commentHelpers.test.ts
  lib/utils/formatting/commentHelpers.ts
  lib/utils/storage/storage.test.ts
  lib/utils/storage/storage.ts
  test-utils/mocks/state.ts
Due: eslint, prettier

feat(comments): Phase 1 quick wins - remove React Compiler violations and optimize performance
  components/UI/Post/Comments/CommentCard/CommentCard.test.tsx
  components/UI/Post/Comments/CommentCard/CommentCard.tsx
  components/UI/Post/Comments/CommentExpansionContext/CommentExpansionContext.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Comments/Comments.test.tsx
  components/UI/Post/Comments/Comments.tsx
  lib/config.ts
  lib/hooks/useCommentData.ts
  lib/store/features/settingsSlice.ts
  package-lock.json
  package.json
Due: eslint, prettier

add next-devtools
  .vscode/mcp.json
Due: prettier

feat(comments): Task 2.1 - Create Redux slice for comment expansion
  lib/store/features/commentExpansionSlice.test.ts
  lib/store/features/commentExpansionSlice.ts
  lib/store/index.ts
  lib/store/selectors/settingsSelectors.test.ts
Due: eslint, prettier

feat(comments): Task 2.2 - Migrate CommentItem to Redux
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  lib/utils/formatting/commentHelpers.test.ts
  lib/utils/formatting/commentHelpers.ts
Due: eslint, prettier

feat(comments): Task 2.3 - Migrate Comments.tsx to Redux
  components/UI/Post/Comments/Comments.tsx
Due: eslint, prettier

feat(comments): Task 2.4 - Remove CommentExpansionContext directory
  components/UI/Post/Comments/CommentExpansionContext/CommentExpansionContext.test.tsx
  components/UI/Post/Comments/CommentExpansionContext/CommentExpansionContext.tsx
Due: eslint, prettier

feat(comments): Task 2.5 - Add memoized selector with createSelector
  lib/store/features/commentExpansionSlice.ts
Due: eslint, prettier

feat: implement reddit-style default comment expansion
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Comments/Comments.tsx
  lib/hooks/useCommentNavigation.test.ts
  lib/hooks/useCommentNavigation.ts
  lib/store/features/commentExpansionSlice.test.ts
  lib/store/features/commentExpansionSlice.ts
Due: eslint, prettier

feat: add collapsed comment preview
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
Due: eslint, prettier

refactor: remove virtualization (technical debt for unimplemented pagination)
  lib/config.ts
Due: eslint, prettier

feat: add skeleton loading states for comments
  components/UI/Post/Comments/CommentsLoading/CommentsLoading.test.tsx
  components/UI/Post/Comments/CommentsLoading/CommentsLoading.tsx
Due: eslint, prettier

feat: add skeleton loading and thread line visual enhancements
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
Due: prettier

ignore docs generated by copilot
  .gitignore
Due: none

initial qa feedbacks
  components/Feeds/Single/Single.tsx
  components/UI/Post/Card/Card.tsx
  components/UI/Post/Card/CardActions.module.css
  components/UI/Post/Card/CardActions.tsx
  components/UI/Post/Comments/CommentCard/CommentCard.module.css
  components/UI/Post/Comments/CommentCard/CommentCard.test.tsx
  components/UI/Post/Comments/CommentCard/CommentCard.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.module.css
  components/UI/Post/Comments/CommentItem/CommentItem.test.tsx
  components/UI/Post/Comments/CommentItem/CommentItem.tsx
  components/UI/Post/Comments/CommentSortControls/CommentSortControls.module.css
  components/UI/Post/Comments/CommentSortControls/CommentSortControls.tsx
  components/UI/Post/Comments/Comments.test.tsx
  components/UI/Post/Comments/Comments.tsx
  components/UI/Post/Comments/CommentsList/CommentsList.module.css
  components/UI/Post/Comments/CommentsList/CommentsList.tsx
  components/UI/Post/VoteButtons/VoteButtons.module.css
  components/UI/Post/VoteButtons/VoteButtons.tsx
Due: eslint, prettier

add chat modes (agents)
  .github/agents/Implementation.agent.md
  .github/agents/Planner.agent.md
  .github/agents/Reviewer.agent.md
  .github/agents/Tester.agent.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}
