Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

pre-push:
  parallel: true
  commands:
    test:
      run: npx vitest run

dependency bump
  package-lock.json
Due: prettier

bump compiler target
  tsconfig.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

formatting
  lib/types/reddit.ts
Due: eslint, prettier

show landing page component instead of error component
  app/(shell)/page.tsx
  components/ui/LandingPage/LandingPage.tsx
Due: eslint, prettier

enable sri
  next.config.ts
Due: eslint, prettier

rename group from (main) to (shell)
  app/(main)/page.tsx
  app/(shell)/error.tsx
  app/(shell)/layout.tsx
  app/(shell)/loading.tsx
  app/(shell)/r/[subreddit]/comments/[postId]/[slug]/error.tsx
  app/(shell)/r/[subreddit]/comments/[postId]/[slug]/loading.tsx
  app/(shell)/r/[subreddit]/comments/[postId]/[slug]/not-found.tsx
  app/(shell)/r/[subreddit]/comments/[postId]/[slug]/page.tsx
  app/(shell)/r/[subreddit]/error.tsx
  app/(shell)/r/[subreddit]/loading.tsx
  app/(shell)/r/[subreddit]/not-found.tsx
  app/(shell)/r/[subreddit]/page.tsx
  app/(shell)/r/[subreddit]/search/[query]/error.tsx
  app/(shell)/r/[subreddit]/search/[query]/loading.tsx
  app/(shell)/r/[subreddit]/search/[query]/page.tsx
  app/(shell)/search/[query]/error.tsx
  app/(shell)/search/[query]/loading.tsx
  app/(shell)/search/[query]/page.tsx
  app/(shell)/u/[username]/error.tsx
  app/(shell)/u/[username]/loading.tsx
  app/(shell)/u/[username]/not-found.tsx
  app/(shell)/u/[username]/page.tsx
  app/(shell)/user/[username]/m/[multiname]/error.tsx
  app/(shell)/user/[username]/m/[multiname]/loading.tsx
  app/(shell)/user/[username]/m/[multiname]/page.tsx
  app/(shell)/user/[username]/saved/error.tsx
  app/(shell)/user/[username]/saved/loading.tsx
  app/(shell)/user/[username]/saved/page.tsx
  components/ui/LandingPage/LandingPage.test.tsx
Due: eslint, prettier

update nav links
  components/layout/Sidebar/Sidebar.test.tsx
  components/layout/Sidebar/Sidebar.tsx
Due: eslint, prettier

don't append #_ after logging in
  app/api/auth/callback/reddit/route.ts
Due: eslint, prettier

disable axiom while in dev mode
  lib/axiom/client.ts
  lib/axiom/server.ts
Due: eslint, prettier

dependency bump
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  AGENTS.md
  lib/types/reddit-api.ts
  nixpacks.toml
  package.json
  scripts/reddit-openapi.json
Due: eslint, prettier

update docs
  AGENTS.md
  CONTRIBUTING.md
Due: prettier

bump node
  .nvmrc
Due: none

update codegen
  .agents/instructions/reddit-api.instructions.md
  .agents/instructions/testing-standards.instructions.md
  lib/types/reddit-api.ts
  scripts/generate-openapi.ts
  scripts/reddit-openapi.json
Due: eslint, prettier

fix hls player for chrome
  lib/hooks/useVideoPlayer.test.tsx
  lib/hooks/useVideoPlayer.ts
  next.config.ts
Due: eslint, prettier

add playwright mcp
  opencode.json
Due: prettier

convert config .mjs to .ts
  eslint.config.ts
  package-lock.json
  package.json
  postcss.config.ts
  prettier.config.ts
Due: eslint, prettier

fix test
  app/api/auth/callback/reddit/route.test.ts
Due: eslint, prettier

fix giphy link embed
  components/ui/Comment/Comment.tsx
  lib/utils/formatters.ts
  next.config.ts
Due: eslint, prettier

add single comment route
  app/(shell)/r/[subreddit]/comments/[postId]/[slug]/[commentId]/page.tsx
  lib/actions/reddit/posts.ts
Due: eslint, prettier

dedupe infinite scroll
  lib/hooks/useInfiniteSavedItems.test.tsx
  lib/hooks/useInfiniteSavedItems.ts
  lib/hooks/useInfiniteScroll.test.tsx
  lib/hooks/useInfiniteScroll.ts
Due: eslint, prettier

dependency bump
  .github/dependabot.yml
  .npmrc
Due: prettier

bump words
  README.md
Due: prettier

add link to sign up
  components/ui/LandingPage/LandingPage.tsx
Due: eslint, prettier

return proper error message when not signed in
  lib/actions/reddit/_helpers.ts
  lib/actions/reddit/search.test.ts
  lib/actions/reddit/search.ts
Due: eslint, prettier

bump
  README.md
Due: prettier

dont allow search when user is not logged in
  lib/actions/reddit/search.test.ts
  lib/actions/reddit/search.ts
Due: eslint, prettier

change site description
  components/ui/LandingPage/LandingPage.test.tsx
  lib/config/app.config.ts
  package.json
Due: eslint, prettier

add more unit tests
  components/layout/Sidebar/SidebarToggle.test.tsx
  components/ui/ThemeToggle/ThemeToggle.test.tsx
  lib/hooks/useFollowUser.test.ts
  lib/hooks/useSavePost.test.ts
  lib/hooks/useSubscribe.test.ts
Due: eslint, prettier

update npx skills
  .agents/skills/implement-github-issue/SKILL.md
  .agents/skills/improve-codebase-architecture/REFERENCE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/next-best-practices/SKILL.md
  .agents/skills/next-best-practices/async-patterns.md
  .agents/skills/next-best-practices/bundling.md
  .agents/skills/next-best-practices/data-patterns.md
  .agents/skills/next-best-practices/debug-tricks.md
  .agents/skills/next-best-practices/directives.md
  .agents/skills/next-best-practices/error-handling.md
  .agents/skills/next-best-practices/file-conventions.md
  .agents/skills/next-best-practices/font.md
  .agents/skills/next-best-practices/functions.md
  .agents/skills/next-best-practices/hydration-error.md
  .agents/skills/next-best-practices/image.md
  .agents/skills/next-best-practices/metadata.md
  .agents/skills/next-best-practices/parallel-routes.md
  .agents/skills/next-best-practices/route-handlers.md
  .agents/skills/next-best-practices/rsc-boundaries.md
  .agents/skills/next-best-practices/runtime-selection.md
  .agents/skills/next-best-practices/scripts.md
  .agents/skills/next-best-practices/self-hosting.md
  .agents/skills/next-best-practices/suspense-boundaries.md
  .agents/skills/next-cache-components-adoption/SKILL.md
  .agents/skills/next-cache-components-adoption/references/per-page-decisions.md
  .agents/skills/next-cache-components-optimizer/SKILL.md
  .agents/skills/next-cache-components-optimizer/instant-nav-loop.md
  .agents/skills/next-cache-components-optimizer/ppr-loop.md
  .agents/skills/next-cache-components/SKILL.md
  .agents/skills/next-dev-loop/SKILL.md
  .agents/skills/next-partial-prefetching-adoption/SKILL.md
  skills-lock.json
Due: prettier

update site description
  components/ui/LandingPage/LandingPage.test.tsx
  components/ui/LandingPage/LandingPage.tsx
  lib/config/app.config.ts
  package.json
  public/ads.txt
Due: eslint, prettier

clean up remnants of public api
  .agents/instructions/reddit-api.instructions.md
  AGENTS.md
  app/api/health/route.ts
  app/robots.ts
  lib/actions/reddit/_helpers.test.ts
  lib/actions/reddit/_helpers.ts
  lib/actions/reddit/multireddits.test.ts
  lib/actions/reddit/multireddits.ts
  lib/actions/reddit/posts.test.ts
  lib/actions/reddit/redditFetch.test.ts
  lib/actions/reddit/search.test.ts
  lib/actions/reddit/search.ts
  lib/actions/reddit/subreddits.test.ts
  lib/actions/reddit/subreddits.ts
  lib/actions/reddit/users.test.ts
  lib/actions/reddit/users.ts
  lib/auth/reddit-context.test.ts
  lib/auth/reddit-context.ts
  lib/hooks/useSearch.test.ts
  lib/utils/constants.ts
  lib/utils/reddit-helpers.test.ts
  next.config.ts
  test-utils/msw/handlers/commentHandlers.ts
  test-utils/msw/handlers/postsHandlers.ts
  test-utils/msw/handlers/searchHandlers.ts
  test-utils/msw/handlers/subredditHandlers.ts
  test-utils/msw/handlers/userHandlers.ts
Due: eslint, prettier

add isAuthenticated conditional
  app/(shell)/layout.tsx
Due: eslint, prettier

Show the correct button based on login state
  components/layout/UserMenu/UserMenu.test.tsx
  components/layout/UserMenu/UserMenu.tsx
Due: eslint, prettier
