Repository gregrickaby/viewer-for-reddit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

allow basic html tags
  src/utils/sanitizeText.ts
Due: eslint, prettier

reorder props
  src/components/Post.tsx
Due: eslint, prettier

add period
  src/store/services/privateApi.ts
Due: eslint, prettier

add keepunused
  src/store/services/publicApi.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

overrides fail on vercel
  package-lock.json
  package.json
Due: prettier

add permissions. fix typo
  .github/workflows/assertions.yml
Due: prettier

search adjustments
  api/search/index.mjs
  src/store/services/privateApi.ts
Due: eslint, prettier

clearing search should bring popular back
  src/components/Search.tsx
Due: eslint, prettier

limit to 2
  src/store/services/publicApi.ts
Due: eslint, prettier

shorten to recent
  src/components/Recent.tsx
  src/store/features/settingsSlice.ts
  src/types/settings.ts
  src/utils/storage.ts
Due: eslint, prettier

add favorites. clear individual subreddititems
  src/App.tsx
  src/components/Controls.tsx
  src/components/Favorites.tsx
  src/components/Post.tsx
  src/components/SubredditItem.tsx
  src/icons/Heart.tsx
  src/icons/HeartFilled.tsx
  src/icons/TrashCan.tsx
  src/store/features/settingsSlice.ts
  src/types/settings.ts
  src/utils/storage.ts
Due: eslint, prettier

pass in list type. adjust types.
  src/components/Popular.tsx
  src/components/Search.tsx
  src/utils/storage.ts
Due: eslint, prettier

simplify feed
  src/components/Feed.tsx
Due: eslint, prettier

give option buttons
  src/components/Media.tsx
Due: eslint, prettier

add better reload support
  src/components/Feed.tsx
Due: eslint, prettier

update caching
  src/store/services/publicApi.ts
Due: eslint, prettier

don't set text color
  src/components/Media.tsx
Due: eslint, prettier

remove docblock
  src/components/Controls.tsx
Due: eslint, prettier

add interface
  src/components/ReloadButton.tsx
Due: eslint, prettier

fix docblock
  src/components/Controls.tsx
Due: eslint, prettier

style tweaks
  src/components/ErrorBoundary.tsx
  src/components/Favorites.tsx
  src/components/HlsPlayer.tsx
Due: eslint, prettier

light refactors
  src/components/Feed.tsx
Due: eslint, prettier

make sure to toggle app loading state
  src/components/Feed.tsx
Due: eslint, prettier

center reload
  src/components/ReloadButton.tsx
Due: eslint, prettier

add aspect ratio support
  src/components/HlsPlayer.tsx
Due: eslint, prettier

add transientSlice. closes #492
  src/App.tsx
  src/components/Controls.tsx
  src/components/Favorites.tsx
  src/components/Feed.tsx
  src/components/Recent.tsx
  src/components/Settings.tsx
  src/components/SubredditItem.tsx
  src/store/features/settingsSlice.ts
  src/store/features/transientSlice.ts
  src/store/store.ts
  src/types/settings.ts
  src/utils/storage.ts
Due: eslint, prettier

update eslint config
  eslint.config.js
Due: eslint, prettier

add testing library eslint
  package-lock.json
  package.json
Due: prettier

add imports
  api/search/index.mjs
Due: prettier

remove uneeded package
  package-lock.json
  package.json
Due: prettier

export the interface
  src/store/features/transientSlice.ts
Due: eslint, prettier

ignore coverage
  .gitignore
Due: none

initial commit of working test environment
  package-lock.json
  package.json
  setupTests.ts
  src/__tests__/App.test.tsx
  src/__tests__/mocks/testState.ts
  src/__tests__/mocks/testUtils.tsx
  src/__tests__/utils/handlers.ts
  src/__tests__/utils/server.ts
  tsconfig.app.json
  vite.config.ts
Due: eslint, prettier
